.h1--order {
  font-weight: bold;
  font-size: 72px;
  line-height: 110%;
  color: #202840;
  margin-top: 80px;
  margin-bottom: 80px;
}

.h2--order {
  font-weight: bold;
  font-size: 32px;
  line-height: 110%;
  color: #202840;
  margin-bottom: 40px;
  margin-top: 120px;
}

.h3--order {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #202840;
}

.table--order {
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

.orderNotShown {
  display: none;
}

.button-container--order{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.continue-button--order{
  font-family: "Coco Gothic";
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  color: #668CFF;
  border-radius: 10px;
  width: 178px;
  background-color: white;
  border: none;
  margin-bottom: 39px;
}
