.h1--order {
  font-weight: bold;
  font-size: 72px;
  line-height: 110%;
  color: #202840;
  margin-top: 80px;
}

.h2--order {
  font-weight: bold;
  font-size: 32px;
  line-height: 110%;
  color: #202840;
}

.table--order {
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

.line--order {
  border-width: 1px;
  border-bottom: solid;
  border-bottom-color: rgba(32, 40, 64, 0.1);
  margin-top: 93px;
  margin-bottom: 80px;
}
