.orderItem {
  border-bottom: solid;
  border-color: rgba(32, 40, 64, 0.1);
  border-bottom-width: 1px;
  height: 50px;
}

.orderItem--name {
  width: 40%;
  font-size: 16px;
  line-height: 110%;
  color: #202840;
  border-radius: 10px;
  font-weight: bold;
}

.orderItem--name-mobile {
  height: 0px;
  font-size: 0px;
}

.orderItem--order {
  width: 45%;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;
  color: #202840;
  border-radius: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.orderItem--button-edit {
  background: url("wwf-pencil.svg") no-repeat white;
  width: 15px;
  height: 15px;
  border: 0px;
  cursor: pointer;
  color: #202840;
  float: right;
  box-sizing: border-box;
}

.orderItem--button-delete {
  background: url("wwf-x.svg") no-repeat white;
  width: 12px;
  height: 12px;
  border: 0px;
  cursor: pointer;
  color: #202840;
  float: right;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .orderItem {
    height: unset;
  }
  .orderItem--name {
    display: none;
  }
  .orderItem--name-mobile {
    height: 24px;
    font-size: 16px;
    padding-left: 16px;
    padding-top: 16px;
    font-weight: bold;
    line-height: 110%;
    color: #202840;
  }
  .orderItem--order {
    margin-left: 16px;
    margin-bottom: 16px;
    margin-right: 0px;
    display: block;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .orderItem--button-delete {
    margin-right: 16px;
  }
  .orderItem--button-edit {
    margin-right: 16px;
  }
  .orderItem--button-edit {
    margin-bottom: 16px;
  }
  .orderItem--button-delete {
    margin-bottom: 16px;
  }
}
