.h2--create-order {
  font-weight: bold;
  font-size: 32px;
  line-height: 110%;
  color: #202840;
  margin-top: 120px;
  margin-bottom: 40px;
}

.h3--create-order {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #202840;
  margin-bottom: 32px;
}

.container--input {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: black;
}

.input--normal {
  text-align: left;
  padding-bottom: 19px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 19px;
  width: 288px;
  height: 18px;
  border: 0px;
  background: #f7f8fa;
  border-radius: 4px;
}

.input--error:-webkit-autofill,
.input--error:-webkit-autofill:hover,
.input--error:-webkit-autofill:active,
.input--error:-webkit-autofill:focus {
  background-color: #f8cdd5 !important;
}

.input--error {
  text-align: left;
  padding-bottom: 19px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 19px;
  width: 288px;
  height: 18px;
  border: 0px;
  font-family: Coco Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  color: #dc052d;
  background-color: #f8cdd5;
}

.input--index {
  color: #dc052d;
  font-family: Coco Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  margin-top: 8px;
  height: 30px;
  width: 288px;
  margin-bottom: 0px;
}

.button--radio {
  background: #f7f8fa;
  border: 1px solid #668cff;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin: 0px;
}

.button--label {
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  color: #000000;
  margin-right: 24px;
  margin-left: 8px;
  cursor: pointer;
  vertical-align: middle;
}

.container--radioButtons {
  margin-top: 40px;
  margin-bottom: 20px;
}

.container--submitButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.continue-button--create-order{
  font-family: "Coco Gothic";
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  color: #668CFF;
  border-radius: 10px;
  width: max-content;
  height: 20px;
  background-color: white;
  border: none;
  margin-bottom: 39px;
}