.h2--order {
  font-weight: bold;
  font-size: 32px;
  line-height: 110%;
  color: #202840;
}

.container--input {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: black;
}

.input--normal {
  background: rgba(0, 0, 0, 0.1);
  text-align: left;
  padding-bottom: 19px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 19px;
  width: 288px;
  height: 18px;
  border: 0px;
}

.input--error:-webkit-autofill,
.input--error:-webkit-autofill:hover,
.input--error:-webkit-autofill:active,
.input--error:-webkit-autofill:focus {
  background-color: #f8cdd5 !important;
}

.input--error {
  text-align: left;
  padding-bottom: 19px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 19px;
  width: 288px;
  height: 18px;

  border: 0px;
  font-family: Coco Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */

  color: #dc052d;
  background-color: #f8cdd5;
}

.input--index {
  color: #dc052d;
  font-family: Coco Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  margin-top: 0px;
  height: 30px;
  width: 288px;
}

.mealList {
  all: unset;
  font-family: Coco Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 110%;
  color: #202840;
  border-radius: 10px;
}

.container--order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  width: 648px;
}

.orderNotShown {
  display: none;
}

.button--counting:hover {
  background: rgba(32, 40, 64, 0.05);
}

.button--counting {
  width: 35px;
  height: 36px;
  border-radius: 3px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  margin: 1px;
  color: #668cff;
  background-color: white;
  text-align: center;
  border: 0px;
  cursor: pointer;
}

.button--number {
  all: unset;
  width: 35px;
  height: 36px;
  border-radius: 3px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  margin: 1px;
  color: #668cff;
  text-align: center;
  background: rgba(32, 40, 64, 0.05);
  border-radius: 3px;
}

.button--error {
  all: unset;
  width: 35px;
  height: 36px;
  border-radius: 3px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  margin: 1px;
  color: #dc052d;
  background-color: #f8cdd5;
  text-align: center;
  border-radius: 3px;
}

.button--radio {
  color: #000000;
  background: #668cff;
}

label {
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  color: #000000;
}

.font24 {
  font-weight: normal;
  font-size: 24px;
  line-height: 110%;
  color: #202840;
}

.h3--createOrder {
  font-family: Coco Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  color: #202840;
  margin-top: 80px;
  margin-bottom: 40px;
}

.container--radioButtons {
  margin-top: 40px;
  margin-bottom: 20px;
}

.container--submitButtons {
  display: flex;
  justify-content: space-between;
}
