.mealList {
  all: unset;
  font-family: Coco Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 110%;
  color: #202840;
  border-radius: 10px;
}

.container--order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(32, 40, 64, 0.1);
  width: 648px;
  height: 56px;
}

.font20--meals {
  font-weight: normal;
  font-size: 20px;
  line-height: 110%;
  color: #202840;
}

.orderNotShown--meals {
  display: none;
}
