.mealList {
  font-family: Coco Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 110%;
  color: #202840;
  border-radius: 10px;
  border-top: solid;
  border-width: 1px;
  border-color: rgba(32, 40, 64, 0.1);
}

.container--order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgba(32, 40, 64, 0.1);
  height: 56px;
}

.font20--meals {
  font-weight: normal;
  font-size: 20px;
  line-height: 110%;
  color: #202840;
}

.orderNotShown--meals {
  display: none;
}

@media only screen and (max-width: 344px) {
  .container--order {
    padding-left: 16px;
  }
}
