.containerClass{
  max-width: 648px;
  margin: auto
}

h1{
  font-family: Coco Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 110%;
  /* or 79px */

  color: #000000;
}

h2{
  font-family: Coco Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */

  color: #000000;
}

.font18{
  font-family: Coco Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  color: #000000;
}
.orderContainer{
  display: flex;
  justify-content: space-between;
  color: black;
  align-items: center;

  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  width: 648px;

  color: #000000;

}

.containerForInput{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: black;
}

ul{
  all: unset;
  list-style-type: none;
}

.buttons{
  width: 312px;
  height: 56px;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 19px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 19px;
  text-align: left;
  border: 0px
}

.name-input{
  background: rgba(0, 0, 0, 0.1);
  text-align: left;
  padding-bottom: 19px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 19px;
  width: 288px;
  height: 18px;
  border: 0px
}

.email-input{
  background: rgba(220, 5, 45, 0.1);
  text-align: left;
  padding-bottom: 19px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 19px;
  width: 288px;
  height: 18px;

  border: 0px;
  font-family: Coco Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */

  color: #DC052D;
}

.email-index{
  color: #DC052D;
  font-family: Coco Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  margin-top: 0px;
  height: 30px;
  width: 288px
}

.button{
  all:unset;
  width: 35px;
  height: 36px;
  background: rgba(196,196,196,0.2);
  border-radius: 3px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  margin: 1px;
  /* or 15px */

  text-align: center;
  color: #000000;
}

.meatList{
  all: unset
}

.createOrder{
  display: none;
}

