.h2--delivery {
  font-weight: bold;
  font-size: 32px;
  line-height: 110%;
  color: #202840;
  margin-bottom: 80px;
  margin-top: 50px;
  text-align: center;
}

.h3--delivery {
  width: max-content;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  color: #dc052d;
  border-radius: 10px;
  margin-right: 32px;
  float: left;
  margin-top: 20px;
  margin-bottom: 28px;
}

.container--name {
  border: 2px solid black;
  align-items: center;
}

.continue-button--delivery {
  font-family: "Coco Gothic";
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  color: #668cff;
  border-radius: 10px;
  width: 312px;
  height: 20px;
  background-color: white;
  border: none;
  margin: auto;
  margin-top: 24px;
  text-align: right;
}

.button-container--delivery {
  display: flex;
  flex-direction: column;
}
