.containerClass {
  max-width: 648px;
  margin: auto;
}

body {
  margin: 0;
  font-family: CocoGothic, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "CocoGothic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("CocoGothic"), url("../fonts/CocoGothic.woff2") format("woff2"),
    url("../fonts/CocoGothic.woff") format("woff"),
    url("../fonts/CocoGothic.ttf") format("truetype"),
    url("../fonts/CocoGothic.eot") format("embedded-opentype");
}

@font-face {
  font-family: "CocoGothic";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("CocoGothic Italic"),
    url("../fonts/CocoGothic-Italic.woff2") format("woff2"),
    url("../fonts/CocoGothic-Italic.woff") format("woff"),
    url("../fonts/CocoGothic-Italic.ttf") format("truetype"),
    url("../fonts/CocoGothic-Italic.eot") format("embedded-opentype");
}

@font-face {
  font-family: "CocoGothic";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("CocoGothic Bold"),
    url("../fonts/CocoGothic-Bold.woff2") format("woff2"),
    url("../fonts/CocoGothic-Bold.woff") format("woff"),
    url("../fonts/CocoGothic-Bold.ttf") format("truetype"),
    url("../fonts/CocoGothic-Bold.eot") format("embedded-opentype");
}
