
.slider {
    max-width: 648px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.page {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    margin-right: 50px;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 10s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.link--container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.link--active{
    text-decoration: none;
    color: black;
    cursor: pointer
}

.link--inactive{
    text-decoration: none;
    color: black;
    cursor: pointer;
    opacity: 0.5;
}

.button--container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 34px;
}

.circle{
    background: #F5F5F5;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

.bigCircle{
    background: #F5F5F5;
    border: 6px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

hr{
    color: black;
    background-color: black;
    border-color: black;
    width: 100%;
    height: 1px;
    position: relative;
}

.circle--container{
    width: 100%;
    max-width: 648px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

