.continue-button {
  font-family: "Coco Gothic";
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  color: #668cff;
  width: max-content;
  height: 20px;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 24px;
  text-align: right;
  border-bottom: solid white 3px;
}
.continue-button:hover {
  border-bottom: solid #668cff 3px;
}

@media only screen and (max-width: 600px) {
  .continue-button:hover {
    border-bottom: solid #668cff 3px;
  }
  .continue-button {
    margin-top: 24px;
  }
}
