.continue-button {
  font-family: "Coco Gothic";
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  color: #668cff;
  width: 312px;
  height: 20px;
  background-color: white;
  border: none;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 24px;
  text-align: right;
}
.continue-button:hover {
  border-bottom: solid #668cff 3px;
}
