.submit--button:hover {
  background: #2345ab;
}

.submit--button[disabled]:hover {
  opacity: 0.4;
  background: #668cff;
  cursor: auto;
}

.submit--button:disabled {
  opacity: 0.4;
}

.submit--button {
  background: #668cff;
  border-radius: 28px;
  width: 312px;
  height: 48px;
  margin-top: 40px;
  margin-bottom: 24px;
  padding: 13px 18px;
  text-align: left;
  border: 0px;
  font-weight: bold;
  font-size: 20px;
  line-height: 110%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-family: Coco Gothic;
  font-style: normal;
  color: #ffffff;
}

.submit-button--icon {
  margin: 0px;
}

.container--button-icon {
  display: flex;
  align-items: center;
}

.container--arrow {
  margin-top: 1px;
}
.container--button-icon {
}

@media only screen and (max-width: 600px) {
  .submit--button {
    margin-bottom: 0px;
  }
}
