.slider {
  max-width: 648px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  display: none;
}

.page {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  margin-right: 50px;
  border-radius: 10px;
}
