.h1--intro {
  font-weight: bold;
  font-size: 72px;
  line-height: 110%;
  color: #668cff;
  margin-bottom: 40px;
}

.h2--intro {
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  color: #202840;
  margin-bottom: 32px;
}

.text--intro {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #202840;
}

.versuch {
  height: 50px;
  border: 5px black solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% - 32px);
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .h1--intro {
    font-size: 48px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .h2--intro {
    font-size: 24px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .text--intro {
    margin-left: 16px;
    margin-right: 16px;
  }
}
