.shoppingList {
  background: #f7f8fa;
  border-radius: 4px;
  padding: 40px;
  max-width: 648px;
  margin-top: 88px;
}

.container--shoppingList {
  margin-bottom: 20px;
}

.h3--header-shoppingList {
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  color: #202840;
}

.table--meals {
  border-collapse: collapse;
}

.tr--shoppingList {
  height: 40px;
}

.td--shoppingList-name {
  font-weight: bold;
  width: 34%;
  font-size: 16px;
  line-height: 110%;
  color: #202840;
}

.tr--shoppingList-name-mobile {
  height: 0px;
}
.td--shoppingList-name-mobile {
  text-align: left;
  font-weight: bold;
  font-size: 0px;
  line-height: 110%;
  color: #202840;
  height: 0px;
}

.td--shoppingList-amount {
  width: 15%;
  text-align: left;
  color: #202840;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  color: #202840;
}

.td--shoppingList-price {
  width: 23%;
  font-size: 12px;
  line-height: 110%;
  color: #202840;
  font-weight: normal;
}

.td--shoppingList-sum {
  width: 30%;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  text-align: right;
  color: #668cff;
}

.td--middle {
  width: 4%;
}

.tr--space {
  height: 10px;
}

.h3--header-paymentList {
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  color: #202840;
}

.td--paymentList--name {
  width: 30%;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  color: #202840;
  border-radius: 10px;
}

.td--paymentList--order {
  width: 40%;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;
  color: #202840;
  border-radius: 10px;
}

.td--paymentList--sum {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  text-align: right;
  color: #668cff;
  padding-right: 12px;
}

.tr--lastRow {
  border-top: solid;
  border-top-width: 1px;
  height: 58px;
}

.lastRow--text {
  text-align: right;
  font-weight: bold;
  font-size: 12px;
  line-height: 110%;
  color: #202840;
}

.lastRow--sum {
  text-align: right;
  color: #668cff;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  padding-bottom: 8px;
  padding-top: 24px;
}

.td--paymentList-checkbox {
  width: 16px;
  height: 16px;
  color: #668cff;
  background-color: #f7f8fa;
  border: 2px solid #668cff;
  margin: 0px;
  cursor: pointer;
}
.input[type="checkbox"]::before {
  border: 2px solid #668cff;
}

@media only screen and (max-width: 344px) {
  .h3--header-shoppingList {
    margin-bottom: 24px;
  }
  .tr--shoppingList {
    height: 24px;
  }
  .td--shoppingList-name-mobile {
    height: 32px;
    column-span: all;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 0px;
  }
  .td--shoppingList-name {
    display: none;
  }
  .shoppingList {
    margin-left: 16px;
    margin-right: 16px;
    padding: 24px;
  }
  .td--shoppingList-amount {
    width: 35%;
    padding-bottom: 8px;
  }
  .td--shoppingList-price {
    width: 30%;
    padding-bottom: 8px;
  }
  .td--shoppingList-sum {
    width: 40%;
    padding-bottom: 8px;
  }
  .td--paymentList--name {
    display: none;
  }
  .td--paymentList--order {
    width: 70%;
  }
  .td--paymentList--sum {
    width: 30%;
    padding-right: 12px;
  }
}
