.shoppingList {
  background: #f7f8fa;
  border-radius: 4px;
  padding: 40px;
  max-width: 648px;
  margin-top: 88px;
}

.container--shoppingList {
  margin-bottom: 20px;
}

.h3--header-shoppingList {
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  color: #202840;
}

.table--meals {
  border-collapse: collapse;
}

.tr--shoppingList {
  height: 45px;
}

.td--shoppingList-name {
  font-weight: bold;
  width: 34%;
  font-size: 16px;
  line-height: 110%;
  color: #202840;
}

.td--shoppingList-amount {
  width: 15%;
  text-align: left;
  color: #202840;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  color: #202840;
}

.td--shoppingList-price {
  width: 23%;
  font-size: 12px;
  line-height: 110%;
  color: #202840;
  font-weight: normal;
}

.td--shoppingList-sum {
  width: 20%;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  text-align: right;
  color: #668cff;
}

.td--middle {
  width: 4%;
}

.tr--space {
  height: 10px;
}

.h3--header-paymentList {
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  color: #202840;
}

.td--paymentList--name {
  width: 25%;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  color: #202840;
  border-radius: 10px;
}

.td--paymentList--order {
  width: 40%;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;
  color: #202840;
  border-radius: 10px;
}

.td--paymentList--sum {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  text-align: right;
  color: #668cff;
}

.tr--lastRow {
  border-top: solid;
  border-top-width: 1px;
  height: 58px;
}

.lastRow--text {
  text-align: right;
  font-weight: bold;
  font-size: 12px;
  line-height: 110%;
  color: #202840;
}

.lastRow--sum {
  text-align: right;
  color: #668cff;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  padding-bottom: 8px;
  padding-top: 24px;
}
