.h1--shoppingList {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 110%;
  margin-top: 160px;
  margin-bottom: 40px;
}

.h3--shoppingList {
  font-weight: bold;
  font-size: 32px;
  line-height: 110%;
  color: #202840;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 80px;
}

.print-link:hover {
  background: #2345ab;
}

.print-link[disabled]:hover {
  opacity: 0.4;
  background: #668cff;
  cursor: auto;
}

.print-link:disabled {
  opacity: 0.4;
}

.print-link {
  background: #668cff;
  border-radius: 28px;
  width: 276px;
  height: 22px;
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 13px 18px;
  text-align: left;
  border: 0px;
  font-weight: bold;
  font-size: 20px;
  line-height: 110%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-family: Coco Gothic;
  font-style: normal;
  color: #ffffff;
}

@media only screen and (max-width: 344px) {
  .h3--shoppingList {
    font-size: 24px;
  }
  .print-link {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
  }
}
