.h1--shoppingList {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 110%;
  margin-top: 160px;
}

.h3--shoppingList {
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  color: #202840;
}

.shoppingList {
  background: #f7f8fa;
  border-radius: 4px;
  padding: 40px;
  max-width: 648px;
  margin-top: 88px;
}

.container--shoppingList {
  margin-bottom: 20px;
}

.h3--header-shoppingList {
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  color: #202840;
}

.table--meals {
  border-collapse: collapse;
}

.tr--shoppingList {
  height: 45px;
}

.td--shoppingList-name {
  width: 24%;
  font-size: 16px;
  line-height: 110%;
  color: #202840;
}

.td--shoppingList-amount {
  width: 20%;
  text-align: right;
  color: #202840;
}

.td--shoppingList-price {
  width: 23%;
  font-size: 16px;
  line-height: 110%;
  color: #202840;
}

.td--shoppingList-sum {
  width: 24%;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  text-align: right;
  color: #668cff;
}

.td--middle {
  width: 4%;
}

.tr--space {
  height: 10px;
}

.h3--header-paymentList {
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  color: #202840;
}

.td--paymentList--name {
  width: 35%;
}

.td--paymentList--order {
  width: 40%;
}

.td--paymentList--sum {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  text-align: right;
  color: #668cff;
}

.tr--lastRow {
  border-top: solid;
  border-top-width: 1px;
  height: 70px;
}

.lastRow--text {
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  color: #202840;
}

.lastRow--sum {
  text-align: right;
  color: #668cff;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
}

.lastColumn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  text-align: right;
  color: #668cff;
}
