.shoppingList--header {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 110%;
}

.shoppingList {
  background: #f7f8fa;
  border-radius: 4px;
  border: solid;
  padding: 40px;
  max-width: 648px;
}

.h3--table-header {
  margin-bottom: 30px;
  margin-top: 0px
}

.table--meals {
  border-collapse: collapse;
}

.tr--shoppingList {
  height: 45px
}

.td--shoppingList-name{
  width: 24%;
  font-size: 16px;
  line-height: 110%;
  color: #202840;
}

.td--shoppingList-price{
  width: 25%;
  font-size: 16px;
  line-height: 110%;
  color: #202840;
}

.td--sum {
  width: 24%;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  text-align: right;
  color: #668cff;
}

.td--shoppingList--amount {
  width: 20%;
  text-align: right;
}

.td--middle {
  width: 4%;
}

.td--paymentList--name {
  width: 30%;
}

.td--paymentList--order {
  width: 40%;
}

.td--paymentList--sum {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  text-align: right;
  color: #668cff;
}

.tr--lastRow{
  border-top: solid;
  border-top-width: 1px;
  height: 50px
}

.lastRow--text {
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  color: #202840;
}

.lastRow--sum {
  text-align: right;
  color: #668cff;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
}

.lastColumn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 110%;
  text-align: right;
  color: #668cff;
}

