.link--container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button--container {
  display: flex;
  justify-content: space-between;
  height: 1px;
  background-color: #202840;
}

hr {
  color: #202840;
  width: 100%;
  border: 1px #202840 solid;
  height: 0px;
  position: relative;
}

.circle {
  background: #f5f5f5;
  border: 2px solid #668cff;
  box-sizing: border-box;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-decoration: none;
  cursor: pointer;
  font-opacity: 0.5;
}

.circle-active {
  background: #f5f5f5;
  border: 6px solid #668cff;
  box-sizing: border-box;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.circle-done {
  box-sizing: border-box;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-decoration: none;
  cursor: pointer;
  background: url("check.svg") no-repeat #668cff center;
}

.circle--container {
  width: 100%;
  max-width: 648px;
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  position: absolute;
}

.link--caption-active {
  width: max-content;
  margin-top: 8px;
  margin-bottom: 15px;
  cursor: pointer;
  font-family: Coco Gothic;
  font-weight: normal;
  font-size: 12px;
  line-height: 110%;
  color: #668cff;
}

.link--caption-inactive {
  width: max-content;
  margin-top: 8px;
  margin-bottom: 15px;
  cursor: pointer;
  opacity: 0.5;
  font-family: Coco Gothic;
  font-weight: normal;
  font-size: 12px;
  line-height: 110%;
  color: #668cff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  padding: 0px;
}

@media only screen and (max-width: 600px) {
  .button--container {
    margin-left: 16px;
    margin-right: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% - 32px);
  }
  .circle--container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% - 32px);
    margin: auto;
    margin-top: -10px;
  }
}
